$primary-yellow: #FFE600;
$primary-blue: #3483FA;
$carbon-900: #333333;
$carbon-700: #666666;
$carbon-400: #999999;
$carbon-100: #EEEEEE;
$font-family: sans-serif;
$global-max-width: 1100px;

body{
    margin: 0px;
    background-color: $carbon-100;
}